@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* navbar */
/* .nav-link {
	@apply text-sm font-semibold text-gray-600 transition-all hover:text-gray-800;
} */

.nav-link {
	@apply mt-2 rounded-lg bg-transparent px-4 py-2 text-sm font-semibold hover:text-gray-900 dark:bg-transparent md:mt-0 md:ml-4;
}

/* jumbotron */
.jumbotron-wrapper {
	@apply flex h-screen items-center justify-center;
}

.jumbotron-content {
	@apply flex max-w-md flex-col space-y-4 md:max-w-2xl;
}

.jumbotron-content > .jumbotron-title {
	@apply text-center text-3xl font-bold md:text-6xl md:leading-snug;
}

.jumbotron-content .jumbotron-subtitle {
	@apply text-center text-lg font-normal tracking-wide text-gray-500 md:text-[28px] md:leading-[34px];
}

.jumbotron-content .cta-wrapper {
	@apply flex flex-col items-center justify-center gap-4 py-12 md:flex-row;
}

.cta-button-primary {
	@apply rounded-md bg-gray-900 px-5 py-2.5 text-sm font-semibold text-white;
}

.cta-button-secondary {
	@apply rounded-md px-5 py-2.5 text-sm font-semibold text-gray-900;
}

.section-title {
	@apply text-3xl font-bold md:text-6xl md:leading-snug;
}

.section-subtitle {
	@apply w-[557px] text-3xl text-gray-500 md:text-xl md:leading-snug;
}

/* about us */
.about-content-wrapper {
	@apply static flex flex-col md:flex-row-reverse;
}

.about-content-wrapper .about-content {
	@apply absolute top-[1361px] left-[873px] w-96 font-normal leading-7 tracking-wide text-gray-500;
}

.ellipse-wrapper .ellipse {
	@apply absolute rounded-full bg-gray-200;
}

.ellipse-1 {
	@apply top-[1064px] left-[787px] h-[150px] w-[150px];
}

.ellipse-2 {
	@apply top-[1139px] left-[130px] h-[150px] w-[150px];
}

.ellipse-3 {
	@apply top-[1288px] left-[288px] h-[500px] w-[500px];
}

.ellipse-4 {
	@apply top-[1765px] left-[115px] h-[150px] w-[150px];
}

.ellipse-5 {
	@apply top-[1892px] left-[562px] h-[150px] w-[150px];
}

.ellipse-6 {
	@apply top-[1638px] left-[873px] h-[150px] w-[150px];
}

/* our product */
.team-wrapper {
	@apply flex flex-wrap justify-center gap-x-8 gap-y-36 py-[76px] md:flex-row;
}

.team {
	@apply flex w-[384px] flex-col items-center justify-center;
}

.team .team-image {
	@apply h-[260px] w-full rounded-lg bg-gray-200;
}

.team .team-text {
	@apply mt-8 flex flex-col gap-4 text-center font-normal tracking-wide;
}

.team-text .team-name {
	@apply text-center text-2xl font-semibold uppercase leading-normal tracking-wide text-gray-900;
}

.team-text .team-description {
	@apply text-base text-gray-500;
}
.list-division{
	padding: 120px 40px;
	font-weight: 700;
	font-size:1.25rem ;
	
   }
   
   .list-division .list-division-page{
	 padding: 10px 15px;
   }
   
   .line-members{
	 padding: 50px 40px;
   }
   .solid{
   border-left: 2px solid;
   height: 500px;
   width: 0px;
   display: inline-block;
   padding-left: 5px;
   }
   
   .dropbtn {
	 background-color: #25B3B4;
	 color: white;
	 padding: 16px 16px;
	 font-size: 16px;
	 border: none;
	 cursor: pointer;
	 width: 150px;
	 height: 50px;
   }
   
   /* Dropdown button on hover & focus */
   .dropbtn:hover, .dropbtn:focus {
	 background-color: #25B3B4;
   }
   
   /* The container <div> - needed to position the dropdown content */
   .dropdown {
	 position: relative;
	 display: inline-block;
	 padding : 50px 50px;
   }
   
   /* Dropdown Content (Hidden by Default) */
   .dropdown-content {
	 display: none;
	 position: absolute;
	 background-color: #f1f1f1;
	 min-width: 160px;
	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	 z-index: 2;
   }
   
   /* Links inside the dropdown */
   .dropdown-content a {
	 color: black;
	 padding: 12px 16px;
	 text-decoration: none;
	 display: block;
   }
   
   /* Change color of dropdown links on hover */
   .dropdown-content a:hover {background-color: #ddd}
   
   /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
   .show {display:block;}
   .swiper {
		   width: 700px;
		   height: 350px;
		 }
   
		 .swiper-slide {
		   text-align: center;
		   font-size: 18px;
		   background: #fff;
		   /* Center slide text vertically */
		   display: grid;
		   grid-template-columns: auto auto auto;
		   padding: 10px 20px;
		   justify-content: center;
		   align-items: center;
		   column-gap: 20px;
		 }
   
		 .swiper-slide img {
		   display: flex;
		   width: 100%;
		   height: 100%;
		   object-fit: cover;
		 }
		 .member-ellipse{
			border-radius: 100%;
			background: #ddd;
			height: 150px;
			width: 150px;
			padding: 20px;
		  } 
		  .ellipse-wrapper{

			position:static;
			padding: 10px;
		   margin-top: 1000px;
		  }
		  .ellipse-wrapper .ellipse {
			position: absolute;
			border-radius: 9999px;
			--tw-bg-opacity: 1;
			background-color: rgb(229 231 235 / var(--tw-bg-opacity));
		  }
			